#contact iframe
{
    width: 100%;
}
.viagem_mainDiv{
    text-align: center;
    background: rgb(21,187,244);
    background: linear-gradient(180deg, rgba(21,187,244,1) 0%, rgba(8,76,99,1) 35%, rgba(0,5,6,1) 100%);
}
.filmes_head{
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
}
.Filmes_head i{
    float:right;
}
.Filmes_text span{
    color:orange;
}
.book{
    margin-bottom: 20px;
}
